.faux-scribble-item {
  width: 270px;
  height: 270px;
  align-self: center;
  justify-self: center;
}

.scribble-item {
  position: relative;
  // position: absolute;
  // background-color: yellow;
  background-color: rgb(193,240,219);
  height: 270px;
  width: 270px;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  padding: 1rem;

  &:nth-child(even) {
    background-color: #65BE95;
  }

  * {
    border: none !important;
    outline: none !important;
  }

  *:focus {
    border: none !important;
    outline: none !important;
  }

  h6 {
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 1rem;
  }

  &-selected {
    // outline: 2px solid rgba(blue, 0.3);
    // background-color: rgba(lime, 1);
    // padding: 1rem;

    // width: 100%;
    // height: unset;
    // height: auto;
    // min-height: 810px;
    // width: 810px;
    // margin-left: 540px;
    // z-index: 3;

    grid-column-start: span 3;
    grid-row-start: span 3;
    width: calc(100% - 2rem);
    height: 100%;

  }

  &-active {
    // height: auto;
    // min-height: 540px;
    // width: 540px;
    // padding: 1rem;
    // margin-left: 270px;
    // overflow-y: scroll;
    // background-color: white;
    // z-index: 2;
    grid-column-start: span 2;
    grid-row-start: span 2;
    width: calc(100% - 2rem);
    height: 100%;
    // grid-column: 1 / span 2;
    // grid-row: 2/4;
    // grid-column: 2/4;


    &::-webkit-scrollbar {
      width: 10px;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      // background: #888; 
      background: transparent; 
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

  }

}

.scribble-content {
  padding: 1.1rem;
  padding-top: 0rem !important;
  overflow-x: hidden;
}

.scribble-x {
  position: absolute;
  right: 1.5rem;
  color: white;
  cursor: pointer;
}

