.rte-item {
    border: none;
    background-color: inherit;
    font-family: inherit;
    z-index: 0;
}

.rte-form {
    // border: none;
    font-family: inherit;
    z-index: 0;
    padding-bottom: 3rem;
}
