.rte-item {
    // border: none;
    // background-color: inherit;
    background-color: transparent;
    border: transparent;
    font-family: inherit;
    z-index: 0;
}

.rte-form {
    // border: none;
    font-family: inherit;
    z-index: 0;
    padding-bottom: 3rem;
}
