@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--light-color);
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.page-wrapper {
  margin: auto;
  height: 100vh;
}

/* Grid */
.grid-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.grid-2 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 1rem;
}

.grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1rem;
}

.grid-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-2-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
  font-size: 1.4em;
}

.text-med {
  color: var(--primary-color);
  font-size: 1.2em;
}

.text-dark {
  color: var(--dark-color);
  font-size: 0.8em;
  margin: 0.6rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: #d4d4d4;
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 100%;
}

.layout-main {
  width: 100%;
}

.folders-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33vw, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(33vw, 1fr));
  grid-auto-rows: minmax(50%, 1fr);
  height: 100%;
}

.folder {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  overflow-y: scroll;
  background-color: #496075;
  border: 2px solid grey;
  position: relative;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.folder::-webkit-scrollbar {
  width: 10px;
}

.folder::-webkit-scrollbar-thumb {
  background: transparent;
}

.folder::-webkit-scrollbar-thumb:hover {
  background: white;
}

.folder-active {
  -ms-flex-preferred-size: 99%;
      flex-basis: 99%;
  background: #494949;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  position: absolute;
}

.fade-right {
  -webkit-animation: 1s fadeRight 0s;
          animation: 1s fadeRight 0s;
}

@-webkit-keyframes fadeRight {
  from {
    opacity: .3;
    -webkit-transform: translate3d(-30%, 0, 0);
            transform: translate3d(-30%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeRight {
  from {
    opacity: .3;
    -webkit-transform: translate3d(-30%, 0, 0);
            transform: translate3d(-30%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.extra-folder {
  position: absolute;
  height: 50px;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  width: 100%;
}

.extra-folder:hover {
  height: auto;
  max-height: 650px;
}

.scribble-grid {
  margin-top: 4rem;
  padding: 0 2rem 0 2rem;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -ms-grid-rows: ()[minmax];
      grid-template-rows: repeat(minmax(3, auto-fit, minmax(270px, 1fr)));
  grid-gap: .5rem;
}

.flexTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.flexTop ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexTop ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}

.flexTop ul li:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 300px;
}

.flexTop ul li:last-child {
  margin: 0;
}

.searchbar {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  font-family: "Roboto", sans-serif;
}

.faux-scribble-item {
  width: 270px;
  height: 270px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.scribble-item {
  position: relative;
  background-color: #c1f0db;
  height: 270px;
  width: 270px;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  padding: 1rem;
}

.scribble-item:nth-child(even) {
  background-color: #65BE95;
}

.scribble-item * {
  border: none !important;
  outline: none !important;
}

.scribble-item *:focus {
  border: none !important;
  outline: none !important;
}

.scribble-item h6 {
  font-size: 1.5rem;
  line-height: 30px;
  margin-bottom: 1rem;
}

.scribble-item-selected {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  -ms-grid-row: span 3;
      grid-row-start: span 3;
  width: calc(100% - 2rem);
  height: 100%;
}

.scribble-item-active {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  width: calc(100% - 2rem);
  height: 100%;
  /* Handle */
  /* Handle on hover */
}

.scribble-item-active::-webkit-scrollbar {
  width: 10px;
}

.scribble-item-active::-webkit-scrollbar-thumb {
  background: transparent;
}

.scribble-item-active::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scribble-content {
  padding: 1.1rem;
  padding-top: 0rem !important;
  overflow-x: hidden;
}

.scribble-x {
  position: absolute;
  right: 1.5rem;
  color: white;
  cursor: pointer;
}

.left,
.right {
  width: 12px;
  height: 7px;
  background-color: black;
  -webkit-transition: .25s ease all;
  transition: .25s ease all;
}

.left {
  -webkit-transform: skew(0, -45deg);
          transform: skew(0, -45deg);
}

.right {
  -webkit-transform: skew(0, 45deg);
          transform: skew(0, 45deg);
}

.toggle {
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  bottom: -20px;
  background-color: grey;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toggle * {
  margin-top: 15px;
}

.active * {
  margin-top: 17px;
}

.active .left {
  -webkit-transform: skew(0, 45deg);
          transform: skew(0, 45deg);
}

.active .right {
  -webkit-transform: skew(0, -45deg);
          transform: skew(0, -45deg);
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
  font-size: 2em;
}

.gold {
  color: gold;
}

.grey {
  color: grey;
}

.dropbtn {
  padding: 0 0.5rem 0 0.5rem;
  background-color: inherit;
  color: #2980b9;
  line-height: 120%;
  font-size: 30px;
  font-weight: 800;
  border: 3px solid #2980b9;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dropbtn:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #2980b9;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 6rem;
  min-height: 4rem;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
}

.show * {
  margin: 0 !important;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.onOffButton {
  position: relative;
  width: 110px;
  height: 36px;
  background-color: #ccc;
  overflow: hidden;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  z-index: 1;
}

.onOffButton .knobs:before {
  content: 'TEXT';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 38px;
  height: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03A9F4;
  border-radius: 2px;
  -webkit-transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.onOffButton .checkbox:active + .knobs:before {
  width: 46px;
}

.onOffButton .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

.onOffButton .checkbox:checked + .knobs:before {
  content: 'CODE';
  font-size: 15px;
  left: 60px;
  background-color: purple;
}

.onOffButton .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

.onOffButton .darkModeBtn:before {
  content: 'LIGHT';
  font-size: 13px;
  color: dimgray;
  background-color: #f4f4f4;
}

.onOffButton .checkbox:checked + .darkModeBtn:before {
  content: 'DARK';
  font-size: 13px;
  left: 60px;
  color: #f4f4f4;
  background-color: dimgray;
}

/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+graphql+jsx+regex */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: inherit;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Forms */
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-container {
  /* max-width: 500px; */
  max-width: 700px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-container select {
  font-size: 1.2em;
  line-height: 18px;
  width: 140px;
  font-family: "Roboto", sans-serif;
}

.form-container input[type="text"], .form-container input[type="email"], .form-container input[type="password"], .form-container input[type="date"], .form-container textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  font-family: "Roboto", sans-serif;
}

.form-container input[type="submit"], .form-container button {
  font: inherit;
}

.form-container textarea[type="text"] {
  height: 6rem;
}

.form-container h1, h2, h3 {
  text-align: center;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Animation (Add After) */
.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  -webkit-transition: opacity 1000ms ease-in;
  transition: opacity 1000ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in;
  transition: opacity 1000ms ease-in;
}

.children-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.children-inline input, .children-inline button {
  width: 12rem;
  height: 3rem;
  margin-bottom: 1.5rem;
}

.ReactModalPortal {
  position: absolute;
  z-index: 10;
}

.ReactModalPortal h2 {
  margin-bottom: 1.5rem;
}

.ReactModalPortal label {
  margin: 1rem 0;
}

.btn-modal {
  display: block;
  margin: 0 auto;
  width: 12rem;
  height: 3rem;
  margin-bottom: 1.5rem;
}

.fixed-activate {
  position: fixed;
  z-index: 1000;
  right: 5vw;
  top: 90vh;
}

@media only screen and (max-width: 700px) {
  .fixed-activate {
    right: 10vw;
  }
}

.plus-red,
.times-red {
  color: #fa1762;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.times-red:hover {
  color: #d11453;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.plus-med {
  font-size: 2rem !important;
}

.close-btn {
  float: right;
  width: auto;
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  background: var(--primary-color);
  opacity: 0.9;
}

.navbar a,
.navbar li {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a:hover {
  color: var(--light-color);
}

.rte-item {
  border: none !important;
  background-color: inherit !important;
  font-family: inherit;
  z-index: 0;
}

.rte-form {
  font-family: inherit;
  z-index: 0;
  padding-bottom: 3rem;
  height: 100%;
  background: transparent;
}

.scribbleForm-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scribbleForm-title, .scribbleForm-link, .scribbleForm-content {
  background: transparent;
}

.scribbleForm-title:focus, .scribbleForm-link:focus, .scribbleForm-content:focus {
  background: rgba(0, 0, 255, 0.2);
}

.scribbleForm-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.scribbleForm-content, .scribbleForm-link {
  font-size: 18px;
}

body {
  background: #f3f1f2;
  font-family: sans-serif;
}

.tester {
  margin: 1rem 4rem;
}

.tester .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.tester .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.tester .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.tester .ql-editor {
  min-height: 18em;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
}

.flexbox .board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: grey;
  padding: 15px;
}

.flexbox .board .card {
  padding: 15px 25px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 15px;
}
