@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.page-wrapper {
  margin: auto;
  height: 100vh;
}

.text-primary {
  color: #65BE95;
  font-size: 1.4em;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.searchbar {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  font-family: "Roboto", sans-serif;
}

.npm__react-simple-code-editor__textarea {
  margin-bottom: 1rem !important;
}

.npm__react-simple-code-editor__textarea:focus {
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) inset, 0 0;
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) inset, 0 0;
}

.ck {
  border-radius: 5px !important;
  margin-bottom: 1rem;
}

.ck-content {
  min-height: 150px;
}

.ck-focused {
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) inset, 0 0;
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) inset, 0 0;
}

.faux-scribble-item {
  width: 270px;
  height: 270px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.scribble-item-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  height: 286px;
  width: 286px;
  margin-left: 1rem;
}

.medium {
  height: 106px !important;
}

.small {
  height: 66px !important;
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
  font-size: 2em;
}

.gold {
  color: gold;
}

.grey {
  color: grey;
}

/* Forms */
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-container {
  /* max-width: 500px; */
  max-width: 700px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-container select {
  font-size: 1.2em;
  line-height: 18px;
  width: 140px;
  font-family: "Roboto", sans-serif;
}

.form-container input[type="text"], .form-container input[type="email"], .form-container input[type="password"], .form-container input[type="date"], .form-container textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  font-family: "Roboto", sans-serif;
}

.form-container input[type="submit"], .form-container button {
  font: inherit;
}

.form-container textarea[type="text"] {
  height: 6rem;
}

.form-container h1, h2, h3 {
  text-align: center;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: #f4f4f4;
}

/* Animation (Add After) */
.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  -webkit-transition: opacity 1000ms ease-in;
  transition: opacity 1000ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in;
  transition: opacity 1000ms ease-in;
}

.children-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.children-inline input, .children-inline button {
  width: 12rem;
  height: 3rem;
  margin-bottom: 1.5rem;
}

.ReactModalPortal {
  position: absolute;
  z-index: 10;
}

.ReactModalPortal h2 {
  margin-bottom: 1.5rem;
}

.ReactModalPortal label {
  margin: 1rem 0;
}

.btn-modal {
  display: block;
  margin: 0 auto;
  width: 12rem;
  height: 3rem;
  margin-bottom: 1.5rem;
}

.fixed-activate {
  position: fixed;
  z-index: 1000;
  right: 5vw;
  top: 90vh;
}

@media only screen and (max-width: 700px) {
  .fixed-activate {
    right: 10vw;
  }
}

.plus-red,
.times-red {
  color: #fa1762;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  cursor: pointer;
}

.times-red:hover {
  color: #d11453;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.plus-med {
  font-size: 2rem !important;
}

.close-btn {
  float: right;
  width: auto;
}
