.scribbleForm {

    &-input-container {
        display: flex;
        flex-direction: column;
    }

    &-title, &-link, &-content {
        background: transparent;
    }

    &-title:focus, &-link:focus, &-content:focus {
        background: rgba(blue, .2);
    }

}

.scribbleForm-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.scribbleForm-content, .scribbleForm-link {
    font-size: 18px;
}




body {
    background: #f3f1f2;
    font-family: sans-serif;
  }
  
  .tester {
    margin: 1rem 4rem;
  }
  
  .tester .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
  }
  
  /* Snow Theme */
  .tester .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  
  /* Bubble Theme */
  .tester .ql-bubble .ql-editor {
    border: 1px solid #ccc;
    border-radius: 0.5em;
  }
  
  .tester .ql-editor {
    min-height: 18em;
  }
  
  .themeSwitcher {
    margin-top: 0.5em;
    font-size: small;
  }